<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Автомобили </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>VIN</th>
                    <th>Brand</th>
                    <th>Color</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car : ${cars}">
                    <td th:text="${car.getVin()}"/>
                    <td th:text="${car.getBrand()}"/>
                    <td th:text="${car.getColor()}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>